/* Footer Section */
.footer {
    background-color: var(--bg-dark-color);
    padding: 2rem;
    text-align: center;
}

.footer-links a {
    color: var(--text-color);
    margin: 0 0.5rem;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}